@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: auto;
}

.cards-container {
  padding-top: 5%;
}

.progress-bar {
  color: black;
}

.img {
  top: 50%;
  left: 50%;
}